<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>频道1</channelname>
  <channeltemplet>channel/pindao1/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/pindao1/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain>3</bdomain>
  <htmldir>/{@dirHTML}/pindao1</htmldir>
</channel>
</rss>
