<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  <appSettings>
    <add key="dataRe" value="fs_" />
    <add key="WebDAL" value="Hg.SQLServerDAL" />
    <add key="mssql" value="1" />
  </appSettings>
  <connectionStrings>
    <!--<add name="foosun" connectionString="server=www.database.com;uid=sa;pwd=foosun1qaz2ws3e4;database=dotnetcms;" />
		<add name="HelpKey" connectionString="server=www.database.com;uid=sa;pwd=foosun1qaz2ws3e4;database=dotnetcms;" />
		<add name="Collect" connectionString="server=www.database.com;uid=sa;pwd=foosun1qaz2ws3e4;database=dotnetcms;" />-->
    
    <!--
    <add name="foosun" connectionString="server=LSD\SQLEXPRESS;uid=sa;pwd=sa;database=dotNETCMS;" />
    <add name="HelpKey" connectionString="server=LSD\SQLEXPRESS;uid=sa;pwd=sa;database=dotNETCMS;" />
    <add name="Collect" connectionString="server=LSD\SQLEXPRESS;uid=sa;pwd=sa;database=dotNETCMS;" />
    -->
    <!-- -->
    <add name="foosun" connectionString="server=192.168.200.54;uid=sa;pwd=sa;database=Foosun;"/>
    <add name="HelpKey" connectionString="server=192.168.200.54;uid=sa;pwd=sa;database=Foosun;"/>
    <add name="Collect" connectionString="server=192.168.200.54;uid=sa;pwd=sa;database=Foosun;"/>
   
  </connectionStrings>
  <system.web>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </httpModules>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="51400" executionTimeout="60" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
     -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            是否检测表单FORM值里面有非法字符
      -->
    <pages validateRequest="false" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
     
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
     -->
    <xhtmlConformance mode="Legacy" />
    <roleManager enabled="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <!--以下请不要修改，否则将造成连接找不到的问题-->
  <rewriter>
    <!--这里的user目录请和appSettings节点的dirUser保持一致-->
    <rewrite url="~/user/showuser-(.+).aspx" to="~/user/showuser.aspx?uid=$1" />
    <rewrite url="~/content-(.+).aspx" to="~/Content.aspx?id=$1" />
    <rewrite url="~/list-(.+).aspx" to="~/list.aspx?id=$1" />
    <rewrite url="~/special-(.+).aspx" to="~/special.aspx?id=$1" />
    <rewrite url="~/down-(.+).aspx" to="~/down.aspx?id=$1" />
    <rewrite url="~/history-(.+).aspx" to="~/history.aspx?id=$1" />
    <rewrite url="~/page-(.+).aspx" to="~/page.aspx?id=$1" />
  </rewriter>
</configuration>