.activity_c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.logo {
	MARGIN: 10px 0px 0px 5px
}
.new_nav {
	MARGIN: 5px 3px 0px 0px
}
.new_nav DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.new_nav DIV LI.one {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.t6_c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px auto; PADDING-TOP: 0px
}
.t8_c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1px; WIDTH: 95%; PADDING-TOP: 5px
}
.t8_c P {
	MARGIN: 0px auto; WIDTH: 95%
}
.diao {
	MARGIN: 0px auto; HEIGHT: 148px
}
.s_img SPAN {
	MARGIN: 0px 5px 0px 9px
}
.month IMG {
	MARGIN: 0px 3px 0px 5px
}
.ml_8 {
	MARGIN-LEFT: 8px
}
.b350 {
	WIDTH: 350px
}
.b351 {
	WIDTH: 351px
}
.eco_m {
	MARGIN: 0px
}
.eco_r {
	MARGIN: 0px
}
.eco_r DIV.two {
	MARGIN: 0px
}
.b435 {
	WIDTH: 435px
}
.tv DIV.fr DIV UL LI IMG {
	MARGIN: 6px 10px
}
HR {
	MARGIN: 5px 0px 0px 8px
}
.pl_12 {
	MARGIN: 0px; LINE-HEIGHT: 150%
}
.bc6 {
	MARGIN: 0px auto; HEIGHT: 3px
}
.bbs_c UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.eco P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 190%; PADDING-TOP: 5px
}
.b210 {
	MARGIN: 0px; WIDTH: 209px
}
.ad_l {
	MARGIN: 0px 0px 0px 3px
}
.weather {
	MARGIN: -22px 0px 0px
}
.t6 SPAN {
	MARGIN: 0px 5px
}
.t7_c SPAN {
	MARGIN: 0px 3px 0px 6px
}
.t10 SPAN {
	MARGIN: 8px 30px 0px 6px
}
.t2_c H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.paper_c DIV.fr UL LI {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; MARGIN: 0px 5px; WIDTH: 132px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.t13 P {
	MARGIN: 2px auto; LINE-HEIGHT: 180%
}
.tab_c H2 {
	MARGIN: 2px 0px
}
.tab_t1 {
	BACKGROUND: url(/img/2009people_index/images/tab_bg.gif) repeat-x 50% top; MARGIN: 0px 0px 0px 1px; WIDTH: 99%; HEIGHT: 25px
}
.tab_c1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 206px; PADDING-TOP: 5px
}
.tab_c1 UL LI {
	MARGIN: 5px 2px 0px 3px
}
.tab_t2 IMG {
	MARGIN: -3px 0px 0px
}
.t9_c SPAN {
	MARGIN: 10px 6px
}
.service_c UL LI {
	FLOAT: left; MARGIN: 0px 0px 0px 5px
}
.lan_m {
	FLOAT: right; MARGIN: -37px 40px 0px 0px
}
.diao {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.eco DIV {
	MARGIN: 0px auto 8px; WIDTH: 96%; TEXT-ALIGN: left
}
.eco SPAN {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 5px 3px 6px; WIDTH: 72px; HEIGHT: 92px; TEXT-ALIGN: center
}
.tv DIV.fl P SPAN {
	MARGIN: 0px 5px 3px
}
.cpc_c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 99%; PADDING-TOP: 15px
}
.wireless P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; LINE-HEIGHT: 170%; PADDING-TOP: 0px
}
.pic_show_l {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; FLOAT: right; OVERFLOW: hidden; WIDTH: 547px; ZOOM: 1
}
.pic_show_l .pcont {
	PADDING-LEFT: 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 510px
}
.pic_show_l .ScrCont {
	MARGIN-LEFT: -3px; WIDTH: 8758px; ZOOM: 1
}
.pic_show_l DIV#list1_1 A {
	FLOAT: left; MARGIN: 0px 5px; WIDTH: 160px; LINE-HEIGHT: 24px; TEXT-ALIGN: center
}
.pic_show_l DIV#list2_1 A {
	FLOAT: left; MARGIN: 0px 5px; WIDTH: 160px; LINE-HEIGHT: 24px; TEXT-ALIGN: center
}
.top_ad P A:visited {
	COLOR: #46606f
}
.top_ad DIV A:visited {
	COLOR: #46606f
}
.tab_c1 DIV.tab_list1 UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 23px
}
.tab_c1 DIV.tab_list UL LI IMG {
	MARGIN: 0px 5px 0px 1px
}
.sport DIV A {
	COLOR: #d30100
}
.sport DIV A:hover {
	COLOR: #d30100
}
.sport DIV A:visited {
	COLOR: #d30100
}
.s_img SPAN A {
	COLOR: #ffffff
}
.s_img SPAN A:hover {
	COLOR: #ffffff
}
.s_img SPAN A:visited {
	COLOR: #ffffff
}
.lh_talk {
	MARGIN: 0px; WIDTH: 182px
}
.lianghui A {
	COLOR: #680009
}
.lianghui A:hover {
	COLOR: #680009
}
.lianghui A:visited {
	COLOR: #680009
}
.lan_m LI {
	MARGIN: 0px 20px 0px 0px
}
.xinban_xian {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 15px 0px 0px; WIDTH: 295px; PADDING-TOP: 8px; HEIGHT: auto
}
