.tab_t li{padding:4px 0 0 0;}
.tab_t1 ul li{width:68px;}
.tab_t1 li.one{background:url(/img/2009people_index/images/tab_bg1.gif) no-repeat top right;width:69px;font-weight:700;}
.tab_t2 li.two{width:124px;padding:3px 0 0 5px;}
.month{padding:8px 0 10px 0;}
.paper_ad{margin:15px auto 0 auto;height:42px;}
.duan2{border-top:1px solid #ccc;}
.t_all{margin:7px auto;}
div.duan3{height:17px;width:980px;background:#fff;padding:7px 0 0 0;}
.bb{margin:7px auto 7px auto;}
.bb_r{border:1px solid #C2CFD6;width:322px;height:266px;margin:0 0 7px 0;}
.cpc_c div{margin:0;height:70px;}
.tab_t2 li.one{width:78px;}
.tab_c{line-height:170%;}
.month div p{padding:75px 0 4px 0;}