<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>PictureChanel</channelname>
  <channeltemplet>channel/PictureChanel/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/PictureChanel/index.html</channelindexpath>
  <isHTML>1</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/PictureChanel</htmldir>
</channel>
</rss>
