<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>小说连载</channelname>
  <channeltemplet>channel/news/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/news/index.html</channelindexpath>
  <isHTML>1</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/news</htmldir>
</channel>
</rss>
