<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>频道测试</channelname>
  <channeltemplet>channel/pdesese/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/pdesese/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain>127.0.0.1</bdomain>
  <htmldir>/{@dirHTML}/pdesese</htmldir>
</channel>
</rss>
