<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>图片美女</channelname>
  <channeltemplet>channel/photo/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/photo/index.html</channelindexpath>
  <isHTML>1</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/photo</htmldir>
</channel>
</rss>
