<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>tttttttttttttttt</channelname>
  <channeltemplet>channel/ttttttttttttt/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/ttttttttttttt/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/ttttttttttttt</htmldir>
</channel>
</rss>
