<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>yyyyyyy</channelname>
  <channeltemplet>channel/yyyyyyy/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/yyyyyyy/index.html</channelindexpath>
  <isHTML>1</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/yyyyyyy</htmldir>
</channel>
</rss>
