<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>yjt_test</channelname>
  <channeltemplet>channel/pdjttest/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/pdjttest/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain>127.0.0.1</bdomain>
  <htmldir>/{@dirHTML}/pdjttest</htmldir>
</channel>
</rss>
