<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>商城</channelname>
  <channeltemplet>channel/shch/index.htm</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/shch/index.html</channelindexpath>
  <isHTML>1</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/shch</htmldir>
</channel>
</rss>
