<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>ttttttttttttt</channelname>
  <channeltemplet>channel/ttttttttttttttt/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/ttttttttttttttt/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/ttttttttttttttt</htmldir>
</channel>
</rss>
