body,td {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
	color:#39753C;
	font-family:Verdana;
}

form,input,selected,textarea,select
{
	font-size:12px;
	font-family:Verdana;
}
.unhtml
{
	color:#6FB772;
}

div
{
	font-size:12px;
}
.ContentDiv
{
    font-size:12px;
    margin:4px;
}
 .titlerule
	{
		font-size:12px;
		background-image: url(../../folder/titlerule.gif);
	}
 
 .sFileStyle
 {
	BORDER-RIGHT: #75B167 1px solid; 
	BORDER-TOP: #75B167 1px solid; 
	BORDER-left: #75B167 1px solid; 
	BORDER-bottom: #75B167 1px solid; 
 }
 
.Lion_1 {color: #999999;
		font-size: 12px;
		text-decoration: none;
		}
	a.Lion_1:link 
		{
		COLOR: #285E04; 
		TEXT-DECORATION: none  ;
		font-size:12px;
		}
	a.Lion_1:visited 
		{
		COLOR: #285E04; 
		TEXT-DECORATION: none;
		font-size:12px;

		}
	a.Lion_1:hover 
		{
		COLOR: #46AD01; 
		TEXT-DECORATION: underline;
		font-size:12px;
		}

.Lion_2 {color: #295101;font-size: 12px;text-decoration: none;}
a.Lion_2:link {COLOR: #295101; TEXT-DECORATION: none;font-size:12px;}
a.Lion_2:visited {COLOR: #295101; TEXT-DECORATION: none;font-size:12px;}
a.Lion_2:hover {COLOR: #FF0000; TEXT-DECORATION: none;font-size:12px;}

.Lion_3 {
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;

}
.tbie 
{
		color:red;
		text-decoration: none;
		font-size:12px;
}
.Lion_4 {
		color: #FF0000;
		font-size: 12px;
		text-decoration: none;
		}
a.Lion_4:link 
		{
		COLOR: #FF0000; 
		TEXT-DECORATION: none;
		font-size:12px;
		}
a.Lion_4:visited 
		{
		COLOR: #FF0000; 
		TEXT-DECORATION: none;
		font-size:12px;
		}
a.Lion_4:hover 
		{
		COLOR: #FF6600; 
		TEXT-DECORATION: underline;
		font-size:12px;
		}

.Lion_5 {
		color: #0F62A4;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
		}
		
.Lion_welcome {
		color: #3E9101;
		font-size: 12px;
		text-decoration: none;
		font-weight:bold;
		}

.sysmain_navi {
		color: #236309;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
		}
.helpstyle {
		color: #28811F;
		font-size: 12px;
		text-decoration: underline;
		padding-left:5px;
		}
		
.sys_topBg {
	color: #47974B;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	}
		
.table{
	border: 1px double #A3D1AD;
	margin-top: 5px;
	margin-bottom: 5px;
	background:#FFFFFF;
	font-size:12px;
}


.Navitable{
	border: 1px solid #E3F3E2;
	margin-top: 2px;
	margin-bottom: 5px;
	background:#F6FEF5;
	line-height:20px;
	font-size:12px;
}

.Lion_6 {
	color: #2AAF01;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}

.Lion_7 {
	color: #295101;
	font-size: 12px;
	text-decoration: none;
	line-height: 22px;
}
.button_first {
	text-decoration: none;
	background-image: url(../admin/button_bg_first.jpg);
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}


.button {
	text-decoration: none;
	background-image: url(../admin/button_bg.jpg);
	font-size: 14px;
	color: #5D7702;
	font-weight: bold;
	text-align:center;
}
.button_down {
	text-decoration: none;
	background-image: url(../admin/button_bg_2.jpg);
	font-size: 14px;
	color: #51884B;
	font-weight: bold;
	text-align:center;
}
.menu_down {
	text-decoration: none;
	background-image: url(../admin/menu_bg_02.jpg);
	font-size: 12px;
	color: #52884B;
	font-weight: bold;
}

.menuq {
	background-image: url(../admin/menu_bg_01.gif);
}
.mainnq {
	background-image: url(../admin/reght_1_bg.gif);
}
.indexq {
	background-image: url(../admin/logo_bg.jpg);
}

.Lion_menu {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #4C884B;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}
.Lion_menu_2 {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #4B8852;
}

.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px
}
.menu_ctr {
	COLOR: #4B8852; 
	TEXT-DECORATION: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:link {
	COLOR: #4B8852; 
	TEXT-DECORATION: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:visited {
	COLOR: #4F884B; 
	TEXT-DECORATION: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:active {
	TEXT-DECORATION: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:hover {
	BACKGROUND-POSITION: 50% bottom; 
	LEFT: 1px; 
	COLOR: #FF0000; 
	BACKGROUND-REPEAT: repeat-x; 
	POSITION: relative; 
	TOP: 1px; BORDER-RIGHT-WIDTH: 1px; 
	TEXT-DECORATION: none;
	line-height:20px;
	font-size:12px;
}
.menuskin {
	BORDER-RIGHT: #67B167 1px solid; 
	BORDER-TOP: #67B167 1px solid; 
	filter: Alpha(Opacity=95, FinishOpacity=95, Style=0, StartX=1, StartY=1, FinishX=100, FinishY=100); 
	BACKGROUND-IMAGE: url(../admin/foosun_bg.jpg); 
	VISIBILITY: hidden; 
	FONT: 12px; 
	BORDER-LEFT: #67B167 1px solid; 
	BORDER-BOTTOM: #67B167 1px solid; 
	POSITION: absolute; 
	BACKGROUND-COLOR: #009900
}

.menuskin A {
	PADDING-RIGHT: 6px; 
	PADDING-LEFT: 20px; 
	COLOR: #f7f7f7; 
	TEXT-DECORATION: none;
	font-size:12px;
}
.m_down_bg {
	
	/*text-decoration: none;
	border: 1px solid #B2D2F6;
	color: #4B6888;
	font-weight: bold;
	background-image: url(../admin/m_bg_1.gif);
*/	
   color:#FC7905;
   vertical-align:middle;
   font-weight:bold;
   text-align:center;
   border-right:1px solid #A3D1AD;
	background-color: #F4FFE8;
}
.m_up_bg {

	/*text-decoration: none;
	background-image: url(../admin/m_bg_2.gif);	
	border: 1px solid #DEEDFA;
	color: #89A5BB;
	font-weight: bold;*/
   vertical-align:middle;
   text-align:center;
   border-right:1px solid #A3D1AD;
   border-bottom:1px solid #A3D1AD;
   /*background-image:url(../images/new_bg.gif);   */
		
}
.navi_link
		{
		COLOR: #4B8851; 
		TEXT-DECORATION: none;
		font-size:12px
		}

a.navi_link:link 
		{
		COLOR: #4B8855; 
		TEXT-DECORATION: none;
		font-size:12px;
		}
a.navi_link:visited 
		{
		COLOR: #4B8855; 
		TEXT-DECORATION: none;
		font-size:12px;
		}
a.navi_link:hover 
		{
		COLOR: #3FAB04; 
		TEXT-DECORATION: underline;
		font-size:12px;
		}

.toptable {
	background-image: url(../admin/reght_1_bg_1.gif);
	line-height:30px;
	font-size:12px;
}

.TR_BG
	{
	background-color: #E4FCCB;
	font-size:12px;
	
	}
.TR_BG_list
	{
	background-color: #F4FFE8;
	font-size:12px;
	}
	
.list_link {
		color: #39753C;
		font-size: 12px;
		text-decoration: none;

		}
		
.about {
		color: #407539;
		font-size: 12px;
		text-decoration: none;
		line-height:20px;
		}		
a.list_link:link 
		{
		COLOR: #39753C; 
		TEXT-DECORATION: none;
		line-height:20px;
		font-size:12px;
		}
a.list_link:visited 
		{
		COLOR: #39753C; 
		TEXT-DECORATION: none;
		line-height:20px;
		font-size:12px;
		}
a.list_link:hover 
		{
		COLOR: #03A81A; 
		TEXT-DECORATION: underline;
		line-height:20px;
		font-size:12px;
		}
.form
	{
	font-size: 12px;
	font-family:Courier New,Verdana, Arial, Helvetica, sans-serif;
	border: 1px #7BB931 double;
	background-color: #EDFEDC;
	color:#2E5F30;
	}
.Contentform
{
    font-size: 12px;
	border: 1px #75C777 double;
	background-color: #ffffff;
	line-height:15px;
}	
.menulist
		{
		COLOR: #39753C; 
		TEXT-DECORATION: none;
		font-size:12px;
		/*font-family:Arial, Helvetica, sans-serif;*/
		}

a.menulist:link 
		{
		COLOR: #39753C; 
		TEXT-DECORATION: none;
		font-size:12px;
		/*font-family:Arial, Helvetica, sans-serif;*/
}
a.menulist:visited 
		{
		COLOR: #39753C; 
		TEXT-DECORATION: none;
		font-size:12px;
		/*font-family:Arial, Helvetica, sans-serif;*/
		}
a.menulist:hover 
		{
		COLOR: #1FB202; 
		BORDER-BOTTOM: 1px dotted;
		font-size:12px;
		/*font-family:Arial, Helvetica, sans-serif*/
		}
		
.lionrong {
	background-color: #FFFFE1;
	border: 1px double #000000;
	font-size:12px;
	color:#000000;
	line-height: 18px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#B6B6B6,offX=2,offY=2,positives=true);
}

.selectStyle
{
	background-color: #F4FFF6;
	border: 1px double #000000;
	font-size:12px;
	color:#000000;
	line-height: 18px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	padding-bottom:1px;	 
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#B6B6B6,offX=2,offY=2,positives=true);
	}

.titile_bg {
	text-decoration: none;
	padding-left:3px;
	background-image: url(../../normal/title_bg.gif);
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}

	
.reshow {
	font-size:12px;
	color:Red;
}

/*功能菜单*/
.topnavichar {
	font-size:12px;
	color:#39753C;
}
a.topnavichar:link 
		{
		COLOR: #39753C; 
		text-decoration:none;
		font-size:12px;
}
a.topnavichar:visited 
		{
		COLOR: #39753C; 
		text-decoration:none;
		font-size:12px;
		}
a.topnavichar:hover 
		{
		COLOR: #02A80A; 
		text-decoration:none;
		font-size:12px;
     	}

.copyright
	{
		font-size:10px;		
	}
.copyright_bg
	{
		background-image: url(../admin/bottom_bg.gif);
		padding-top:20px;
		font-size:12px;
	}
/*下划线*/
.list_link_o
		{
		COLOR: #39753D; 
		line-height:20px;
		font-size:12px;
		}
a.list_link_o:link 
		{
		COLOR: #39753D; 
		TEXT-DECORATION: underline;
		line-height:20px;
		font-size:12px;
		}
a.list_link_o:visited 
		{
		COLOR: #39753D; 
		TEXT-DECORATION: underline;
		line-height:20px;
		font-size:12px;
		}
a.list_link_o:hover 
		{
		COLOR: #05A914; 
		TEXT-DECORATION: underline;
		line-height:20px;
		 font-size:12px;
		}
.SpecialFontFamily
{
	font-size:18px;
	font-family:HG_TaiTham_WHD,Verdana, Arial, sans-serif;/*lsd加少数民族字体HG_Tai_BZ */
}