<?xml version="1.0" encoding="utf-8"?>
<siteconfig>
  <siteinfo>
      <sitename>www.dw12.com</sitename>
      <siteDomain>www.dw12.com</siteDomain>
      <linkTypeConfig>0</linkTypeConfig>
      <ReviewType>0</ReviewType>
      <IndexTemplet>/Templets/xxbn/dw_index.htm</IndexTemplet>
      <IndexFileName>index.html</IndexFileName>
      <LenSearch>1|20</LenSearch>
      <SaveIndexPage>{@year04}{@month}{@day}</SaveIndexPage>
      <InsertPicPosition>200|left</InsertPicPosition>
      <collectTF>1</collectTF>
      <HistoryNum>11</HistoryNum>
      <publishState>True</publishState>
      <PageStyle>2</PageStyle>
      <PageLinkCount>5</PageLinkCount>
      <FirstPageName>ᦐᦱᧉ ᦷᦠ ᦒᦲ</FirstPageName>
  </siteinfo>
</siteconfig>
