<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>down</channelname>
  <channeltemplet>channel/down/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/down/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/down</htmldir>
</channel>
</rss>
