<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>测试频道</channelname>
  <channeltemplet>channel/newtest/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/newtest/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/newtest</htmldir>
</channel>
</rss>
