<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>门户主站</channelname>
  <channeltemplet>channel/main/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/main/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/main</htmldir>
</channel>
</rss>
