<?xml version="1.0" ?>
<rss version="2.0">
<channel>
  <channelname>t444444</channelname>
  <channeltemplet>channel/t444444/index.html</channeltemplet>
  <channelindexname>index.html</channelindexname>
  <channelindexpath>/{@dirHTML}/t444444/index.html</channelindexpath>
  <isHTML>0</isHTML>
  <bdomain></bdomain>
  <htmldir>/{@dirHTML}/t444444</htmldir>
</channel>
</rss>
