.topline
{
	margin: 10px auto 0px;
	width: 1002px;
	/*background: url(../images/mdy_cen_line.gif); HEIGHT: 1px;*/
}

.fabiao
{
	text-align: center;
	line-height: 20px;
	margin: 5px auto 0px;
	width: 500px;
}
.fabiao DIV
{
	width: 90px;
	display: inline;
	margin-left: 10px;
}
.xian
{
	margin: 0px auto;
	width: 590px;
	background: #b9b9b9;
	height: 1px;
}

.content A:link
{
	line-height: 22px;
	color: #0000ff;
	font-size: 14px;
	text-decoration: underline;
}
.neixia
{
	border-bottom: #dbdbdb 1px solid;
	border-left: #dbdbdb 1px solid;
	padding-bottom: 10px;
	margin: 10px auto 0px;
	width: 630px;
	border-top: #dbdbdb 1px solid;
	border-right: #dbdbdb 1px solid;
} 

.laiyuan
{
	text-align: center;
	line-height: 20px;
	margin: 0px auto 10px;
	width: 500px;
	color: #000000;
	overflow: hidden;
}


/*
.neirong
{
	width: 700px;
	float: left;
	margin-bottom:0px;
	padding-bottom:0px;
}
*/

.newsview .newstitle{
	width:700px;
	height:35px;*height:45px;_height:35px;
	line-height:15px;
}

.newsview H1
{
	text-align: center;
	line-height: 28px;
	margin: 20px 0px 10px;
	width: 100%;
	color: #010101;
	clear: both;
	font-size: 26px;
	font-weight: bold;
}


.newsview{
	width:700px;
	border:solid 1px #cacaca;
	/*border:1px #A6D8FB solid;*/
	float:left;
	 min-height:1066px;
	background-color: #fefefa; /*#F7FCFF;*/
}

.newsview .newstitle{
	width:691px;
	height:35px;*height:45px;_height:35px;
	line-height:15px;
}
.newsview .newstitle h1{
	font-size:25px;
	margin-top:15px;
	text-align:center;
}

.newsview .info{
	width:691px;
	height:27px;
	line-height:27px;
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
	text-align:center;

}
.newsview .info strong{
	color:#666;
	margin-left:20px;
}

.newsview .content{
	width:670px;
	overflow:hidden;
	margin:10px 10px;
	color:#000;
	font-size:14px;
	line-height:25px;
}
/*
.content
{
	padding-bottom: 20px;
	margin: 10px auto 0px;
	width: 600px;
}
.content *
{
	line-height: 22px;
	font-size: 14px;
}
*/

.commentinfo{

	height:20px;
	padding-top:10px;
	padding-left:10px;
	/*border-top:1px solid #ADD5F5;
	border-bottom:1px solid #ADD5F5;*/
	border-top: solid 1px #eee;
	border-bottom:solid 1px #eee;
	text-align:left;
	background:url(../images/bg.jpg) 1px 1px repeat-x;
	font-weight:bold;

}
.comment {
		 padding:25px;
 }