/* CSS Document */
<!--

.cetop_l{margin:auto;}



/*==top==*/

.cetopl{width:1000px;border:#DADADA 1px solid;border-bottom:0px;height:40px;font-size:12px;}
.cetopl ul{margin: 0; padding: 0;  border: 0;}
.cetopl img{ border: 0px;}
.cetopl div{text-align:left; margin:0; padding:0; overflow:hidden;height:30px;}
.cetopl .t1{float:left; line-height:20px; padding:10px 10px 0px 20px;  color:#535353; font-weight:bold;}
.cetopl .t2{float:left; height:31px; }
.cetopl .t2 select{width:107px; margin-right:10px; margin-top:9px;}
.cetopl .t3{float:left; padding:0px 20px 0px 32px;  text-align:center;}
.cetopl .t3 img{margin:10px 5px 0px 2px; margin-top:10px;}
.cetopl .t4{float:left; padding:0px;width:210px;}
.cetopl .t4 {line-height:19px; list-style: none;}
.cetopl .t4{float:left; display:inline; padding-top:14px; text-align:center;}
.cetopl .t4 a:link{color:#124999;text-decoration:none;}
.cetopl .t4 a:visited{color:#124999;text-decoration:none;}
.cetopl .t4 a:hover{color:#124999; text-decoration:underline;}

.menul_list{ width:1000px; padding-top:5px; border:#DADADA 1px solid;font-size:12px;height:40px;}
.menul_list ul{float:left; font-size:12px;list-style: none;margin: 0px; padding:0pt 4pt;  border: 0; }
.menul_list li{float:left; display:inline;padding-left:24px; line-height:20px; text-align:center;}
.menul_list ul a:link{color:#141414;text-decoration:none;}
.menul_list ul a:visited{color:#141414;text-decoration:none;}
.menul_list ul a:hover{color:#141414;text-decoration:underline;}
.celad{float:left;width:805px; text-align:center;padding-top:10px;padding-left:5px;}
.cel3{ width:1000px; font-size:12px;border:#DADADA 1px solid;border-top:0px;clear:both;overflow:hidden;height:95px;}
#celogo{float:left; padding: 5px 0px; display:inline; width:190px;}
#celogo img{ border: 0px;}
#celogo p{padding:5px 16px 6px 0px; margin:0; text-align:center; color:#5E5E5E; line-height:10px;}
#ad1{float:left;width:805px;padding:5px 2px;}
#pDate{font-size:12px; color:#4C4C4C;}
.cetopl,.menul_list,.cel3{background-color:#ffffff;}
-->