<?xml version="1.0"?>
<APIConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApplicationList>
    <ApplicationInfo>
      <AppID>dz</AppID>
      <AppUrl>http://localhost:1074/tools/api.aspx</AppUrl>
    </ApplicationInfo>
  </ApplicationList>
  <Enable>true</Enable>
  <AppKey>111111</AppKey>
  <AppID>hgcmsv1.0</AppID>
</APIConfig>