<?xml version="1.0" encoding="utf-8"?>
<foosunconnect>
  <foosunconnectitem>
    
    <!--主数据库连接-->
    <fsconnect key="foosun" value="server=(local);uid=sa;pwd=sa;database=dotNetCms;" />
    
    <!--帮助库连接-->
    <fsconnect key="HelpKey" value="server=(local);uid=sa;pwd=sa;database=dot_Help;" />
    
    <!--采集库库连接-->
    <fsconnect key="Collect" value="server=(local);uid=sa;pwd=sa;database=DotNetCollect;" />
    
    <!--API连接对象-->
    <fsconnect key="sqlConnData" value="" />

  </foosunconnectitem>
</foosunconnect>