<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <dataConfiguration defaultDatabase="ReferenceNewsDB"/>
  <connectionStrings>
    
    <!--
    <add name="ReferenceNewsDB" connectionString="Data Source=192.168.200.231;Initial Catalog=DigitalPublishDB;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
    -->
    
    <add name="ReferenceNewsDB" connectionString="Data Source=192.168.200.54;Initial Catalog=ReferenceNewsDB;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="CacheManager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" name="CacheManager"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
</configuration>