<?xml version="1.0" encoding="utf-8"?>
<foosunconfig>
  <foosunconfigitem>
    <!--参数配置-->
    <fsconfig key="dirMana" value="manage" />
    <!--用户目录-->
    <fsconfig key="dirUser" value="user" />
    <!--虚拟目录-->
    <fsconfig key="dirDumm" value="Foosun.Web" />
    <!--
    是否开启密码保护
    第1位:如果为1，表示开启密码保护；
    第2位:表示是否在安全码中加随机码，
    第3位:0表示随机码加在安全码前面，1为加在后面 
    -->
    <fsconfig key="protPass" value="0,0,1" />
    <!--密码安全码-->
    <fsconfig key="protRand" value="foosun.net" />
    <!--管理员附件目录-->
    <fsconfig key="dirFile" value="files" />
    <!--频道静态目录-->
    <fsconfig key="dirSite" value="www" />
    <!--总站静态文件生成目录-->
    <fsconfig key="dirHtml" value="html" />
    <!--用户附件目录-->
    <fsconfig key="UserdirFile" value="Userfiles" />
    <!--模板目录-->
    <fsconfig key="dirTemplet" value="Templets" />
    <!--API后台管理目录-->
    <fsconfig key="dirManaApi" value="api" />
    <!--API会员管理目录-->
    <fsconfig key="dirUserApi" value="api" />
    <!--计划任务目录-->
    <fsconfig key="projPath" value="" />
    <fsconfig key="indeData" value="0" />
    <fsconfig key="filePass" value="tqbllB9i9m0y5KCak3feho8bxa0TcPSBib9rkp4xB5M=" />
    <fsconfig key="constPass" value="tqbllB9i9m0y5KCak3feho8bxa0TcPSBib9rkp4xB5M=" />
    <!--程序版本0为普通站，1为门户型站点-->
    <fsconfig key="publicType" value="1" />
    <!--归档目录-->
    <fsconfig key="dirPige" value="history" />
    <fsconfig key="manner" value="sblue" />
    <!--数据库前缀-->
    <fsconfig key="dataRe" value="FS_" />
    <!--每页记录条数-->
    <fsconfig key="PageSize" value="15" />
    <!--文件管理设置-->
    <fsconfig key="filePath" value="files" />
    <!--日志文件目录-->
    <fsconfig key="LogTxtPath" value="c:\FoosunLog\" />
    <!--版权所有,不支持html语法-->
    <fsconfig key="copyRight" value="(c)2007 Foosun Inc. Powered by dotNETCMS 1.0 , All Right Reserved" />
    <!--会员前台/后台管理title-->
    <fsconfig key="headTitle" value="dotNETCMS_NewsCMS" />
    <!--生成的缩略图高度，如果为0，这根据宽度按比列生成图片-->
    <fsconfig key="sHeight" value="0" />
    <!--生成的缩略图宽度，如果为0，这根据高度按比列生成图片-->
    <fsconfig key="sWidth" value="200" />
    <!--是否开启内部连接地址-->
    <fsconfig key="isLinkTF" value="1" />
    <!--开启自动存稿功能.第1个参数为开关(1为开启,0为关闭)，第2个参数为多少分钟-->
    <fsconfig key="saveContent" value="1|4" />
  </foosunconfigitem>
</foosunconfig>