html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*body{text-align:center;} */

body,td {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
	color:#2D465F;
	font-family:Verdana;
}
form,input,selected,textarea,select
{
	font-size:11.5px;
	font-family:Verdana;
}
.unhtml
{
	color:#85A4C5;
}
div
{
	font-size:12px;
}
.ContentDiv
{
    font-size:12px;
    margin:4px;
}
 .sFileStyle
 {
	BORDER-RIGHT: #678AB1 1px solid; 
	BORDER-TOP: #678AB1 1px solid; 
	BORDER-left: #678AB1 1px solid; 
	BORDER-bottom: #678AB1 1px solid; 
 }
 /*
 table
 {
 	line-height:28px;
 }
 input
 {
 	height:20px;
 }
 */
.Lion_1 {color: #999999;
		font-size: 12px;
		text-decoration: none;
		}
	a.Lion_1:link 
		{
		color: #3F6293; 
		text-decoration: none  ;
		font-size:12px;
		}
	a.Lion_1:visited 
		{
		color: #3F6293; 
		text-decoration: none;
		font-size:12px;

		}
	a.Lion_1:hover 
		{
		color: #3F6293; 
		text-decoration: underline;
		font-size:12px;
		}

.Lion_2 {color: #333333;font-size: 12px;text-decoration: none;}
a.Lion_2:link {color: #333333; text-decoration: none;font-size:12px;}
a.Lion_2:visited {color: #333333; text-decoration: none;font-size:12px;}
a.Lion_2:hover {color: #FF0000; text-decoration: none;font-size:12px;}

.Lion_3 {
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;

}
.tbie 
{
		color:red;
		text-decoration: none;
		font-size:12px;
}
.Lion_4 {
		color: #FF0000;
		font-size: 12px;
		text-decoration: none;
		}
a.Lion_4:link 
		{
		color: #FF0000; 
		text-decoration: none;
		font-size:12px;
		}
a.Lion_4:visited 
		{
		color: #FF0000; 
		text-decoration: none;
		font-size:12px;
		}
a.Lion_4:hover 
		{
		color: #FF6600; 
		text-decoration: underline;
		font-size:12px;
		}

.Lion_5 {
		color: #0F62A4;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
		}
		
.Lion_welcome {
		color: #0F62A4;
		font-size: 12px;
		text-decoration: none;
		font-weight:bold;
		}

.sysmain_navi {
		color: #4B6888;
		font-size: 14px;
		text-decoration: none;
		font-weight: bold;
		}
.helpstyle {
		color: #555657;
		font-size: 12px;
		text-decoration: underline;
		padding-left:5px;
		}
		
.sys_topBg {
	color: #477F97;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	}
		
.table{
	border: 1px solid #C9DEEC;
	margin-top: 5px;
	margin-bottom: 5px;
	background:#E4F3FC;
	font-size:12px;
}


.Navitable{
	border: 1px solid #E2F2F3;
	margin-top: 2px;
	margin-bottom: 5px;
	background:#F5FBFE;
	line-height:20px;
	font-size:12px;
}

.TR_BG
	{
	background-color: #DAE9F5;
	font-size:12px;
	
	}
.TR_BG_list
	{
	background-color: #F8FDFF;
	font-size:12px;
	}
	
.Lion_6 {
	color: #0458E2;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}

.Lion_7 {
	color: #333333;
	font-size: 12px;
	text-decoration: none;
	line-height: 22px;
}
.button_first {
	text-decoration: none;
	background-image: url(../admin/button_bg_first.jpg);
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}


.button {
	text-decoration: none;
	background-image: url(../admin/button_bg.jpg);
	font-size: 14px;
	color: #FD6204;
	font-weight: bold;
	text-align:center;
}
.button_down {
	text-decoration: none;
	background-image: url(../admin/button_bg_2.jpg);
	font-size: 14px;
	color: #4B6888;
	font-weight: bold;
	text-align:center;
}
.menu_down {
	text-decoration: none;
	background-image: url(../admin/menu_bg_02.jpg);
	font-size: 12px;
	color: #4B6888;
	font-weight: bold;
}

.menuq {
	background-image: url(../admin/menu_bg_01.gif);
}
.mainnq {
	background-image: url(../admin/reght_1_bg.gif);
}
.indexq {
	background-image: url(../admin/logo_bg.jpg);
}

.Lion_menu {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #4B6888;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C5DBE4;
}
.Lion_menu_2 {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #4B6888;
}

.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px
}
.menu_ctr {
	color: #4B6888; 
	text-decoration: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:link {
	color: #4B6888; 
	text-decoration: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:visited {
	color: #4B6888; 
	text-decoration: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:active {
	text-decoration: none;
	line-height:20px;
	font-size:12px;
}
.menu_ctr:hover {
	BACKGROUND-POSITION: 50% bottom; 
	LEFT: 1px; 
	color: #FF0000; 
	BACKGROUND-REPEAT: repeat-x; 
	POSITION: relative; 
	TOP: 1px; BORDER-RIGHT-WIDTH: 1px; 
	text-decoration: none;
	line-height:20px;
	font-size:12px;
}
.menuskin {
	BORDER-RIGHT: #678AB1 1px solid; 
	BORDER-TOP: #678AB1 1px solid; 
	filter: Alpha(Opacity=95, FinishOpacity=95, Style=0, StartX=1, StartY=1, FinishX=100, FinishY=100); 
	BACKGROUND-IMAGE: url(../admin/foosun_bg.jpg); 
	VISIBILITY: hidden; 
	FONT: 12px; 
	BORDER-LEFT: #678AB1 1px solid; 
	BORDER-BOTTOM: #678AB1 1px solid; 
	POSITION: absolute; 
	BACKGROUND-color: #006699
}

.menuskin A {
	PADDING-RIGHT: 6px; 
	PADDING-LEFT: 20px; 
	color: #f7f7f7; 
	text-decoration: none;
	font-size:12px;
}
.m_down_bg {
	
	/*text-decoration: none;
	border: 1px solid #B2D2F6;
	color: #4B6888;
	font-weight: bold;
	background-image: url(../admin/m_bg_1.gif);
*/	
   color:#FC7905;
   vertical-align:middle;
   font-weight:bold;
   text-align:center;
   border-right:1px solid #C9DEEC;
   background-color:#F8FDFF;
}
.m_up_bg {

	/*text-decoration: none;
	background-image: url(../admin/m_bg_2.gif);	
	border: 1px solid #DEEDFA;
	color: #89A5BB;
	font-weight: bold;*/
   vertical-align:middle;
   text-align:center;
   border-right:1px solid #C9DEEC;
   border-bottom:1px solid #C9DEEC;
   background-color:#EDF4FA;
   /*background-image:url(../images/new_bg.gif);   */
		
}
.navi_link
		{
		color: #4B6888; 
		text-decoration: none;
		font-size:12px
		}

a.navi_link:link 
		{
		color: #4B6888; 
		text-decoration: none;
		font-size:12px;
		}
a.navi_link:visited 
		{
		color: #4B6888; 
		text-decoration: none;
		font-size:12px;
		}
a.navi_link:hover 
		{
		color: #FF6600; 
		text-decoration: underline;
		font-size:12px;
		}

.toptable {
	background-image: url(../admin/reght_1_bg_1.gif);
	line-height:30px;
	font-size:12px;
}

.list_link {
		color: #395575;
		font-size: 12px;
		text-decoration: none;

		}
		
.about {
		color: #395575;
		font-size: 12px;
		text-decoration: none;
		line-height:20px;
		}		
a.list_link:link 
		{
		color: #395575; 
		text-decoration: none;
		line-height:20px;
		font-size:12px;
		}
a.list_link:visited 
		{
		color: #395575; 
		text-decoration: none;
		line-height:20px;
		font-size:12px;
		}
a.list_link:hover 
		{
		color: #FF0000; 
		text-decoration: underline;
		line-height:20px;
		font-size:12px;
		}
.form
	{
	font-size:11.5px;
	font-family:Verdana;
	}
.titlerule
	{
		font-size:12px;
		border:1px solid #7f9db9;
		background-image: url(../../folder/titlerule.gif);
		height:20px;
	}
.Contentform
{
    font-size: 12px;
	border: 1px #cccccc double;
	background-color: #ffffff;
	line-height:15px;
}	
.menulist
		{
		color: #384F67; 
		text-decoration: none;
		font-size:12px;
		}

a.menulist:link 
		{
		color: #384F67; 
		text-decoration: none;
		font-size:12px;
}
a.menulist:visited 
		{
		color: #384F67; 
		text-decoration: none;
		font-size:12px;
		}
		
a.menulist:hover 
		{
		color: #ff0000; 
		font-size:12px;
		background-color:#EEFFFE;
		}
		
.lionrong {
	background-color: #FFFFE1;
	border: 1px double #000000;
	font-size:12px;
	color:#000000;
	line-height: 18px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#C5C5C5,offX=2,offY=2,positives=true);
}

.selectStyle
{
	background-color: #F4FAFF;
	border: 1px double #014954;
	font-size:12px;
	color:#000000;
	line-height: 18px;
	padding-left:1px;
	padding-right:1px;
	padding-top:1px;
	padding-bottom:1px;	 
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=#C5C5C5,offX=2,offY=2,positives=true);
	}

.titile_bg {
	text-decoration: none;
	padding-left:3px;
	background-image: url(../../normal/title_bg.gif);
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
}

	
.reshow {
	font-size:12px;
	color:Red;
}

/*功能菜单*/
.topnavichar {
	font-size:12px;
	color:#395575;
}
a.topnavichar:link 
		{
		color: #395575; 
		text-decoration:none;
		font-size:12px;
}
a.topnavichar:visited 
		{
		color: #395575; 
		text-decoration:none;
		font-size:12px;
		}
a.topnavichar:hover 
		{
		color: #ff0000; 
		text-decoration:none;
		font-size:12px;
     	}

.copyright
	{
		font-size:10px;
		
	}
.copyright_bg
	{
		background-image: url(../admin/bottom_bg.gif);
		padding-top:20px;
		font-size:12px;
	}
/*下划线*/
.list_link_o
		{
		color: #395575; 
		line-height:20px;
		font-size:12px;
		}
a.list_link_o:link 
		{
		color: #395575; 
		text-decoration: underline;
		line-height:20px;
		font-size:12px;
		}
a.list_link_o:visited 
		{
		color: #395575; 
		text-decoration: underline;
		line-height:20px;
		font-size:12px;
		}
a.list_link_o:hover 
		{
		color: #FF0000; 
		text-decoration: underline;
		line-height:20px;
		 font-size:12px;
		}
/* Button 样式 */
.btn
{
	padding: 1px 1px 1px 1px;
	font-size: 12px;
	height: 22px;
	background: url(../admin/btnbg.gif);
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	border-left: #999999 1px solid;
	border-bottom: #999999 1px solid;
}