.activity_c{padding:5px 0 0 0;}
.logo{margin:10px 0 0 5px;}
.new_nav{margin:5px 3px 0 0;}
.new_nav div{padding:4px 0 0 0;}
.new_nav div li.one{padding:10px 0 0 0;}
.t6_c{margin:5px auto;padding:0;}
.t8_c{padding:5px 0 0px 7px;margin:0 0 0 1px;width:95%;}
.t8_c p{width:95%;margin:0 auto;}
.diao{margin:0 auto 0px auto;height:148px;}
.s_img span{margin:0 5px 0 9px;}
.month img{margin:0 3px 0 5px;}
.ml_8{margin-left:8px;}
.b350{width:350px;}
.b351{width:351px;}
.eco_m,.eco_r,.eco_r div.two{margin:0;}
.b435{width:435px;}
.tv div.fr div ul li img{margin:6px 10px;}
hr{margin:5px 0 0 8px;}
.pl_12{margin:0;line-height:150%;}
.bc6{height:3px;margin:0 auto;}
.bbs_c ul li{padding:1px 0;}
.eco p{padding:5px 0 5px 10px;line-height:190%;}
/*class*/
.b210{width:209px;margin:0 0 0 0px;}
.ad_l{margin:0 0 0 3px;}
.weather{margin:-22px 0 0 0;}
.t6 span{margin:0 5px;}
.t7_c span{margin:0 3px 0 6px;}
.t10 span{margin:8px 30px 0 6px;}
.t2_c h4{padding:8px 0 0 0;}
.paper_c div.fr ul li{padding:0 6px 3px 6px;margin:0 5px;width:132px;text-align:left;}
.t13 p{line-height:180%;margin:2px auto;}
.tab_c h2{margin:2px 0 2px 0;}
.tab_t1{margin:0 0 0 1px;width:99%;height:25px;background:url(/img/2009people_index/images/tab_bg.gif) repeat-x top;}
.tab_c1{width:206px;margin:0 auto;padding:5px 0 0 0;}
.tab_c1 ul li{margin:5px 2px 0 3px;}
.tab_t2 img{margin:-3px 0 0 0;}
.t9_c span{margin:10px 6px;}
.service_c ul li{float:left;margin:0 0 0 5px;}
.lan_m{float:right;margin:-37px 40px 0 0;}
.diao{padding:3px 0 2px 8px;}
.eco div{width:96%;text-align:left;margin:0 auto 8px auto;}
.eco span{display:block;float:left;margin:0 5px 3px 6px;width:72px;height:92px;text-align:center;}
.tv div.fl p span{margin:0 5px 3px 5px;}
.cpc_c{padding:15px 0 0 0;width:99%;}
.wireless p{line-height:170%;margin:0 auto;padding:0;}
.pic_show_l{
	overflow:hidden;
	zoom:1;
	font-size:12px;
	width:547px;
	margin-top:0px;
	float:right;
}
.pic_show_l .pcont {
	width:510px;
	float:left;
	overflow:hidden;
	padding-left:0px;
}
.pic_show_l .ScrCont {
	width:8758px;
	zoom:1;
	margin-left:-3px;
}
.pic_show_l div#list1_1 a,.pic_show_l div#list2_1 a{
	width:160px;
	float:left;
	margin:0 5px;
	text-align:center;
	line-height:24px;
}
/*20090122*/
.top_ad p a:visited{color:#46606F;}
.top_ad div a:visited{color:#46606F;}
.tab_c1 div.tab_list1 ul li{padding:0 0 0 12px;height:23px;}/*20090203*/
.tab_c1 div.tab_list ul li img{margin:0 5px 0px 1px;}/*20090203*/
/*20090216*/
.sport div a,.sport div a:hover,.sport div a:visited{color:#D30100;}
.s_img span a,.s_img span a:hover,.s_img span a:visited{color:#FFFFFF;}
/*20090302*/
.lh_talk{width:182px;margin:0 0px 0 0;}
.lianghui a,.lianghui a:hover,.lianghui a:visited{color:#680009;}
/*20090413*/
.lan_m li{margin:0px 20px 0 0;}
/*20090925*/
.xinban_xian{float:right;width:295px;height:auto;margin:0 15px 0 0;padding:8px 0 0 0;}
.month span{display:block;float:left;margin:0 8px 0 0px;}